.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
.grid-item{
    background-color: aquamarine;
    padding: 10px;
}
.grid-item:hover{
    background-color: blue;
}